<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374067282181-mi4mdu517ib94fsl1eg26jdbathv3j5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374067282181-mi4mdu517ib94fsl1eg26jdbathv3j5f</string>
	<key>API_KEY</key>
	<string>AIzaSyCf5UWplZuWGEkYKwiBzPllQUXZ50R0QgI</string>
	<key>GCM_SENDER_ID</key>
	<string>374067282181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardealeruser.kr</string>
	<key>PROJECT_ID</key>
	<string>dealer-of-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>dealer-of-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374067282181:ios:fc0cdf82baa4bd7a54f76c</string>
	<key>DATABASE_URL</key>
	<string>https://dealer-of-delivery.firebaseio.com</string>
</dict>
</plist>